<h1>users#show</h1>
<p>メールアドレス : <%= @user.email %></p>
<%= link_to 'チャットルーム一覧', rooms_path %>
<% if user_signed_in? && current_user.id != @user.id %>
  <div class="follower">
  <%= link_to followers_user_path(@user.id) do %>
      <h5 style="color: black;">フォロワー<%= @user.followers.count %>人</h5>
  <% end %>
  </div>
  <div class="follow">
  <%= link_to following_user_path(@user.id) do %>
      <h5 style="color: black;">フォロー<%= @user.following.count %>人</h5>
  <% end %>
  </div>
  <div>
  <%= render "follow_form" %>
  </div>
<% end %>

<h2>ユーザーの投稿一覧</h2>

<% @user.tweets.each do |t| %>
  <%= t.body %>
<% end %>

<%= link_to "Tweet一覧に戻る", tweets_path %>
